
/20200213__distribution_of_primary_quanta/*
/20200213__nest_stuff_for_other_people/*
/20200213__reproducing_nest_benchmark_plots/*
/20200430__wimp_recoil_spectra/*
/20200501__er_nr_discrimination/*

!/20200501__er_nr_discrimination/er_nr_discrimination.ipynb

